* {
    margin: 0;
    padding: 0;
}

header {
    margin: 20px;
    padding: 5px;
    border: solid black;
}

main {
    margin: 20px;
}


.comments p:nth-child(even) {
    background: lavender;
}

.comments p:nth-child(odd){
    background: gainsboro;
}