body {
    background: lightcyan;
    width: 800px;
    margin: auto;
}

h1 {
    color: maroon;
    text-align: center;
}

p {
    color: gray;
    border: 1px solid gray;
    padding: 10px;
}

header, main, footer {
    min-width: 855px;

}

header {
    background: white;
    margin: 20px;
}

main {
    background: white;
}

.tabs a span {
    display: inline-block;
    border-radius: 5px 5px 0 0;
    width: 100px;
    margin-right: 10px;
    text-align: center;
    background: #ddd;
    padding: 5px;
}

.tabs a span.active {
    background: #eee;
}