main {
    width: 500px;
    margin: auto;
    background: gray;
}
nav {
    /* ”берите пометку комментари€ со следующей строки, если хотите иметь черную границу */
    /*border: 3px solid black;*/
    padding: 3px;
    padding-right: 20px;
    /*width: 200px;*/
    float: left;
}
p {
    margin: 0; /* Ќоль от границы по умолчанию */
}